<div class="col-md-3">
<div class="thumbnail">
<%= image_tag "couch.jpg", class:"img-responsive" %>
</div>


<div class="caption">
<p><strong><%= link_to toy.name, toy_path(toy) %></strong></p>
<p><%= toy.price %>€</p>
</div>
</div>
